{% extends "nav-a.html" %}

{% block title %}{{title}}{% endblock %}


{% block main %}

<h1>{{title}}</h1>
<h2>{{author}}</h2>

<div class="flex-container">
	<div class="flex-item item1">
	{% for post in posts %}
		<div class=entry id=post>
			<h1><a href={{post.link}}>{{ post.title }}</a></h1>
			<p class="pubdt">{{ post.published }}</p>
			<p>{{ post.body }}</p>
		</div>
		<br>
	{% endfor %}
	</div>

	<div class="flex-item item2">
	<h3>Recent Posts</h3>

	{% for item in sidebar %}
                <div class=item>
			{% if item.original %}
			{{ item.published }}:
			{% else %}
			{{ item.updated }}:
			{% endif %}
                        <a href={{item.link}}>{{ item.title }}</a>
		</div>
		<br>
	{% endfor %}
	</div>
</div>

<p id=gitatom>&lsqb; <a href="https://www.github.com/GitAtom-PDX/GitAtom">Created with GitAtom</a> &rsqb;</p>
{% endblock %}
