<!doctype html>
<html lang="en">
<head>
        <meta charset="UTF-8">
	<link rel=stylesheet type=text/css href={{stylesheet}}>
	<title> {% block title %}{% endblock %}</title>
</head>
<body>
	<section>
		<nav id=nav_pages>
			{% block navigation %}
			<ul>
				{% for key, value in nav.items() %}
				<li><a href="{{value}}">{{ key }}</a></li>
				{% endfor %}
                                <a id="atomfeed" href="/feed.xml">
                                    <img
                                      src="feed-icon.png"
                                      alt="Atom Feed"
                                      title="Atom Feed"
                                      width="30px"
                                    /></a>
			{% endblock %}
                        </ul>
		</nav>
	</section>
	<div id="main">{% block main %}{% endblock %}</div>
	<div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>
