feed_id: feed id
feed_title: feed title
author: author
publish_directory: publish directory
repo_path: path to bare git repository
work_path: path to work tree
host: host ip address
port: port number
username: username
keypath: path to ssh key
deploy: false
