{% extends "nav-a.html" %}

{% block title %}{{title}} Blog{% endblock %}


{% block main %}

<h1>{{title}}</h1>
<h2>{{author}}</h2>

<div class="flex-container">
	<div class="flex-item item1">
	{% for post in posts %}
		<div class=entry id=post>
			<h3><a href={{post.link}}>{{ post.title }}</a></h3>
			<h4>{{ post.updated }}</h4>
			<p>{{ post.body }}</p>
		</div>
		<br>
	{% endfor %}
	</div>

	<div class="flex-item item2">
	<h3>Recent Posts</h3>

	{% for item in sidebar %}
		<div class=item>
			<h4><a href={{item.link}}>{{ item.title }}</a></h4>
			<h5>{{ item.updated }}</h5>
		</div>
		<br>
	{% endfor %}
	</div>
</div>
{% endblock %}
{% block footer %}
<div class="footer">
	<p>footer</p>
</div>
{% endblock %}
