{% extends "nav-a.html" %}

{% block title %}Blog Posts{% endblock %}


{% block main %}

<h2>{{title}}</h2>
<h3>{{author}}</h3>

<div class="flex-container">
	<div class="flex-item item1">
	{% for post in posts %}
		<div class=entry id=post>
			<h4><a href={{post.link}}>{{ post.title }}<a/></h4>
			<h5>{{ post.updated }}</h5>
			<p>{{ post.body }}</p>
		</div>
		<br>
	{% endfor %}
	</div>

	<div class="flex-item item2">
	<h2>All Posts</h2>

	{% for item in sidebar %}
		<div class=item>
			<h4><a href={{item.link}}>{{ item.title }}<a/></h4>
			<h5>{{ item.updated }}</h5>
		</div>
		<br>
	{% endfor %}
	</div>
</div>
{% endblock %}
