<!doctype html>
<html lang="en">
<head>
	<link rel=stylesheet type=text/css href="./style.css">
	<title> {% block title %}{% endblock %}</title>
</head>
<body>
	<section>
		<nav id=nav_pages>
			{% block navigation %}
			<ul>
				{% for key, value in nav.items() %}
				<li><a href="{{value}}">{{ key }}</a></li>
				{% endfor %}
			</ul>
			{% endblock %}
		</nav>
	</section>
	<div id="main">{% block main %}{% endblock %}</div>
	<div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>
