/* The original stylesheet is located in gitatom/main_templates/style.css. It is copied into publish_directory/style.css on 'gitatom init' */

nav {
  font-family: sans-serif;
  font-size: 2rem;
  font-style: normal;
  background-color: black;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  cursor: pointer;
  margin: 20px;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #008080;
}

nav ul li a:active {
  color: #008080;
}

nav ul li a:focus {
  color: #008080;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.item1 {
  width: 85%;
  height: 1000px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item1::-webkit-scrollbar {
  display: none;
}

#post {
  margin: 10px;
  padding: 25px;
  background-color: whitesmoke;
}

.content {
  background-color: whitesmoke;
  margin: 10px;
  padding: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  text-align: center;
}

@media (max-width: 800px) {
  .item1,
  .item2 {
    flex: 100%;
  }
}
